.filter-container .title {
    margin-bottom: 19px;
    display: flex;
    justify-content: center;
}

.price-filter,
.meal-types {
    margin: 30px 15px;
}
.price-filter input[type="range"] {
    -webkit-appearance: none; /* Убираем стандартный стиль */
    width: 100%;
    height: 8px;
    background: #ccc; /* Цвет полосы */
    border-radius: 5px;
    outline: none;
}

.price-filter input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 28px;
    background: #0735db; /* Оранжевый цвет бегунка */
    border-radius: 50%;
    cursor: pointer;
}
.price-filter input[type="range"]::-moz-range-thumb {
    /* Стили для Firefox */
    width: 20px;
    height: 20px;
    background: #0735db; /* Оранжевый цвет бегунка */
    border-radius: 50%;
    cursor: pointer;
}

.price-filter input[type="range"]::-ms-thumb {
    /* Стили для Internet Explorer и Edge */
    width: 20px;
    height: 20px;
    background: #0735db; /* Оранжевый цвет бегунка */
    border-radius: 50%;
    cursor: pointer;
}
.price-filter div {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(7, 53, 219);
    border-radius: 4px;
    margin: 10px 10px;
    background: rgb(7, 53, 219);
    gap: 10px;
}

.price-filter span {
    font-size: 14px;
    font-weight: bold;
}

#adult-price-values, #child-price-values {
    font-weight: bold;
    color: #425083;
    position: relative;
}

.filter-button {
    display: flex;
    justify-content: center;
}

.filter-button button {
    padding: 15px 15px;
    background-color: #0735db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    margin: 26px;
}

.filter-button button:hover {
    background-color: #3d176c;
}
.meal-types div {
    margin-bottom: 10px;
}

/* Скрываем стандартный чекбокс */
.custom-checkbox {
    display: none;
}

/* Стилизуем чекбокс через псевдоэлементы */
.custom-checkbox + label {
    position: relative;
    padding-left: 30px; /* Отступ для иконки чекбокса */
    cursor: pointer;
    line-height: 20px;

    /* Псевдоэлемент для квадрата чекбокса */
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 2px solid #0735db; /* Цвет рамки */
        border-radius: 4px; /* Скругленные углы */
        background-color: white;
        transition: background-color 0.2s ease, border-color 0.2s ease;
    }

    /* Галочка при активном состоянии */
    &.custom-checkbox:checked + label::before {
        background-color: #0735db; /* Оранжевый фон */
        border-color: #0735db; /* Оранжевая рамка */
    }

    &.custom-checkbox:checked + label::after {
        content: ""; /* Галочка */
        position: absolute;
        left: 5px;
        top: 3px;
        color: white;
        font-size: 14px;
        font-weight: bold;
    }
}