
<div class="container-section">
    <h2 class="info-sections">О нас</h2>
    <p>
        Добро пожаловать на наш сайт для поиска работы и размещения вакансий!
        Здесь работодатели находят лучших специалистов, а соискатели — работу, которая подходит именно им.
        Удобный поиск, актуальные вакансии и подробные резюме помогают быстро и легко связаться с нужными людьми.
        Присоединяйтесь, чтобы найти возможности для карьерного роста или подобрать идеального сотрудника для вашей компании!
    </p>
</div>
<div class="container-section">
    <h2 class="info-sections">Запустите поиск сотрудников в 3 шага:</h2>
    <div class="card-container">
        <div class="arrow left">←</div>
        <div class="card-wrapper">
            <div class="card">
                <img src="~/img/Card 1.jpg" alt="Card 1">
                <h3>Составьте текст вакансии</h3>
                <p>
                    который будет привлекать качественных кандидатов и отсеивать неподходящих
                </p>
            </div>
            <div class="card">
                <img src="~/img/Card 2.jpg" alt="Card 2">

                <h3>Заполните форму вакансии</h3>
                <p>
                    и объявление продублируется на все кадровые ресурсы вашего города
            </div>
            <div class="card">
                <img src="~/img/Card 3(2).jpg" alt="Card 2">
                <h3>Принимайте звонки и отклики</h3>
                <p>
                    от подходящих кандидатов со всех сайтов в едином личном кабинете
                </p>
            </div>
            <div class="card">
                <img src="~/img/Card 4.jpg" alt="Card 3">
                <h3>Романтические путешествия и медовый месяц</h3>
                <p>
                    Мы поможем вам спланировать идеальное романтическое путешествие или медовый месяц в самых живописных уголках мира.
                </p>
            </div>
            //
            <div class="card">
                <img src="~/img/Card 5.jpg" alt="Card 4">

                <h3>Пляжные туры</h3>
                <p>
                    Лучшие пляжные направления мира с белоснежными песками и кристально чистой водой. Мы предложим вам незабываемый отдых
                    на курортах Средиземного моря, Мальдивских островов, Таиланда и других райских уголков.
                </p>
                //
            </div>
            <div class="card">
                <img src="~/img/card_.png" alt="Card 5">
                <h3>Групповые туры</h3>
                <p>
                    Присоединяйтесь к захватывающим путешествиям в компании единомышленников. Мы предлагаем туры в различные страны с профессиональными гидами.
                </p>
            </div>
        </div>

        <div class="arrow right">→</div>
    </div>
</div>
<div class="container-section">
    <h2 class="info-sections">Контакты</h2>
    <div class="container-row">
        <div class="row-item">
            <img class="item-img" src="~/img/icon-email.png" alt="">
            <h2>Email</h2>
            <p>TTIiP@mail.ru</p>
        </div>
        <div class="row-item">
            <img class="item-img" src="~/img/icon-phone.png" alt="">
            <h2>Телефон</h2>
            <p>+(373) 717-71-717</p>
        </div>
        <div class="row-item">
            <img class="item-img" src="~/img/icon-address.png" alt="">
            <h2>Адрес</h2>
            <p>Тираспольский техникум информатики и права</p>
        </div>
    </div>
</div>
<div></div>
<div class="container-section">
    <h2 class="info-sections">Написать сообщение</h2>
    <div class="block-message">
        <p>Вы можете написать нам на почту здесь</p>
        <div class="message-text">
            <label>Сообщение:</label>
            <span></span>
            <textarea class="text"></textarea>
        </div>
        <div class="message-button">
            <button class="button" type="submit">Отправить</button>
        </div>
    </div>
</div>
