
<div class="confirm__email__container" id="confirm__email__container" style="display: none">
    <div class="confirm__email__form">
        <div class="form__title">Регистрация</div>

        <p>На указанную почту отправлено письмо с кодом подтверждения</p>

        <input type="text" placeholder="" id="codeConfirm">
        <span>Введите код подтверждения</span>

        <div class="button__confirm__container">
            <div class="button__confirm">Отправить</div>

            <div class="button__confirm red button__confirm__close">Закрыть</div>
        </div>
        <p class="warning">При закрытии данной формы Регистрация НЕ будет завершена</p>
    </div>
</div>
